/* GENERALI */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
  line-height: 1.5em;
  color: #25a2c3;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #393d41;
  margin: 0.25em 0;
  line-height: 1.65em;
}

ol,
ul {
  padding-left: 2em;
  margin: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
main {
  box-sizing: border-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body p {
  color: #393d41;
  font-size: 1.2rem;
}
/* HEADER */
header {
  background-color: black;
}
header div {
  padding-top: 35px;
  padding-bottom: 40px;
  text-align: center;
}
#logo {
  display: inline-block;
  padding-top: 2%;
  padding-left: 5%;
}

#special-div {
  padding-top: 150px;
  padding-bottom: 240px;
  width: 100%;
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position-x: 45%;
}
#special-div h1 {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#special-div p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
#special-div button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  border-color: transparent;
}
/* MAIN */
main {
  height: 660px;
  width: 90%;
}
#content-c div {
  box-sizing: border-box;
  width: 60%;
  margin-top: 25px;
  margin-bottom: auto;
}
#container {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  width: 45%;
  text-align: center;
  vertical-align: middle;
}
#content-c {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
#content-c div:first-of-type {
  padding-top: 50px;
}
#image-rounded {
  width: 75%;
  padding-top: 75px;
  padding-bottom: 75px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: right;
}
/* section */
section {
  height: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #e22d0e;
  width: 100%;
  text-align: center;
}
section p,
section h1,
section h2 {
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
section div:first-of-type {
  padding-top: 150px;
}
section div:last-of-type {
  padding-bottom: 150px;
}
.quote {
  font-style: italic;
}
.CEO {
  font-weight: 400;
}

/* article */
article {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
}
article div {
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
  border-color: #dee1e3;
  border-style: solid;
  border-width: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
article div img {
  width: 100%;
}
.img-box {
  height: 388px;
}
article div p {
  /* padding-bottom: 35px; */
}
/* FOOTER */
footer {
  text-align: center;
  background-color: #25a2c3;
}
footer h1 {
  padding-top: 30px;
  color: white;
}
footer p {
  color: #c8e7f0;
  font-size: medium;
  margin-bottom: 0;
}
footer p a {
  color: #c8e7f0;
}
footer hr {
  margin-top: 30px;
  width: 40%;
  color: #c8e7f0;
  border-style: solid;
  border-width: 1px;
}
#final-p {
  padding-top: 20px;
  padding-bottom: 50px;
}

/* footer p { 
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}
*/
